{% extends "templates/default.twig" %}
{% block title %}
    Promjena lozinke
{% endblock %}

{% block content %}

    <div class = "title-box">
        <h1>PROMJENA LOZINKE</h1>
    </div>




    <form method = "post" name = "user-password-change" id = "user-password-change"
          action = "{{ urlFor('user.password_change.post') }}" onsubmit="return false;">

        <div class = "vertical-section">
            <div>
                <h4 class = "special input">Trenutna lozinka: </h4>
                <input type="password" name="password" id="password" placeholder="Lozinka" required
                       maxlength="255" spellcheck="false" autocomplete="off" tabindex="1"
                       class = "text-input email"/>
                <h4 class = "req">*</h4 >
            </div>
        </div>

        <div class = "vertical-section">
            <div>
                <h4 class = "special input">Nova lozinka: </h4>
                <input type="password" name="new-password" id="new-password" placeholder="Nova lozinka" required
                       maxlength="255" spellcheck="false" autocomplete="off" tabindex="2"
                       class = "text-input email"/>
                <h4 class = "req">*</h4 >
            </div>
        </div>

        <div class = "vertical-section">
            <div>
                <h4 class = "special input">Potvrda nove lozinke: </h4>
                <input type="password" name="new-password-repeated" id="new-password-repeated"
                       placeholder="Ponovljena nova lozinka" required tabindex="3"
                       maxlength="255" spellcheck="false" autocomplete="off"
                       class = "text-input email"/>
                <h4 class = "req">*</h4 >
            </div>
        </div>



        {% include "templates/partials/user_messages.twig" %}


        {% include "templates/partials/live_status.container.twig" %}


        <script type="text/javascript" src="public/js/validation.js?{{ "now"|date("YmdHis") }}"></script>

        <input type = "hidden" name = "{{ csrf_key }}" value = "{{ csrf_token }}">
        <div class = "submitter-cont">
            <div>
                <div class = "submitter submit" tabindex="4"
                     onclick="validateAndSubmitPassChange('user-pass-change')">
                    <span>SPREMI PROMJENU</span>
                </div>
                <div class="submitter">
                    <a href = "{{ urlFor('user.profile') }}" tabindex="5">ODUSTANI</a>
                </div>
            </div>
        </div>


    </form>

    <script>

        function valSub() {
            if(formSubmittingActive == true) {
                validateAndSubmitPassChange('user-password-change');
                return false;
            }
        }
        $('#user-password-change').keydown(function(e) {

            if (e.keyCode == 13) {
                valSub();
            }
        });
        $('.submitter.submit').keydown(function(e) {

            if (e.keyCode == 13) {
                valSub();
            }
        });
    </script>

{% endblock %}