{% extends "templates/default.twig" %}
{% block title %}
    Zaboravljena lozinka
{% endblock %}

{% block content %}

    <div class = "title-box">
        <h1>Zaboravljena lozinka</h1>
    </div>




    <form method = "post" name = "user-password-recovery" id = "user-password-recovery"
          action = "{{ urlFor('user.password_recovery.post') }}" onsubmit = "return false;">

        <div class = "vertical-section">
            <div>
                <h4 class = "special input">Vaš e-mail: </h4>
                <input type="text" name="email" id="email" placeholder="E-mail" tabindex="1"
                       maxlength="255" spellcheck="false"  class = "text-input email"/>
                <h4 class = "req">*</h4 >
            </div>
        </div>


        {% include "templates/partials/user_messages.twig" %}


        {% include "templates/partials/live_status.container.twig" %}


        <script type="text/javascript" src="public/js/validation.js?{{ "now"|date("YmdHis") }}"></script>

        <input type = "hidden" name = "{{ csrf_key }}" value = "{{ csrf_token }}">
        <div class = "submitter-cont">
            <div>
                <div class = "submitter submit" tabindex="2"
                     onclick="validateAndSubmitPassRecovery('user-password-recovery')">
                    <span>POŠALJI</span>
                </div>
                <div class="submitter">
                    <a href = "{{ urlFor('home') }}" tabindex="3">ODUSTANI</a>
                </div>
            </div>
        </div>


    </form>

    <script>

        function valSub() {
            if(formSubmittingActive == true) {
                validateAndSubmitPassRecovery('user-password-recovery');
                return false;
            }
        }
        $('#user-password-recovery').keydown(function(e) {

            if (e.keyCode == 13) {
                valSub();
            }
        });
        $('.submitter.submit').keydown(function(e) {

            if (e.keyCode == 13) {
                valSub();
            }
        });
    </script>

{% endblock %}