{% extends "templates/default.twig" %}
{% block title %}
    Cloudinary test adhoc
{% endblock %}

{% block content %}

    <script type="text/javascript" src="public/js/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="public/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="public/js/jquery.fileupload.js"></script>
    <script type="text/javascript" src="public/js/jquery.cloudinary.js"></script>
    {{ cloudinary_js_config() }}
    <div class = "title-box">
        <h1>Cloudinary test adhoc</h1>
    </div>

    <form  method = "post" name = "user-avatar-upload" id = "user-avatar-upload" onsubmit="return false;"
           action = "{{ urlFor('user.avatar_ul.post') }}"  enctype="multipart/form-data">
        <div class = "vertical-section">
            <div>
                <h4 class = "special input">Trenutni avatar: </h4>

                <div class = "home-icon-cont">
                    {% set avatar = auth.getAvatarPath("thumb1") %}
                    {%  if avatar %}

                        <div class = "thumbnail user">
                            <div class = "pic-cont">
                                <span class="v-align-helper"></span><img src="{{ avatar }}">
                            </div>
                        </div>

                    {% else %}
                        <div class = "thumbnail user user-icon">
                            <div class="pic-cont">
                                <span class="v-align-helper"></span><i class = "fa fa-{{ auth.ssbos('fe', '') }}male"></i>
                            </div>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>

        <div class = "vertical-section">
            <div>
                <h4 class = "special input">Slika: </h4>
                <input type="hidden" name="MAX_FILE_SIZE" value="2000000" />
                {#<input type="file" accept="image/jpeg,image/gif,image/png" tabindex="1"#}
                       {#name="avatar_file" id="avatar_file" class = "text-input file-input"/>#}
                {{ cl_unsigned_image_upload_tag('test', upload_preset,
                    {"public_id" : "testa/c1", "tags" : "direct_photo_album", "callback" : cors_location,
                    "html" : {
                        "multiple" : true,
                        "class" : "gogina text-input file-input",
                        "name": "avatar_file",
                        "id" :"avatar_file"}
                    })
                }}
                <div class = "pp-upload-file text-input upload">
                    <label for = "avatar_file" class = "button-label">
                        <i class = "fa fa-fw fa-cloud-upload"></i> <span>Odaberite datoteku</span>
                    </label>
                    <label id = "selected-file">
                        <span></span>
                    </label>
                </div>
                <h4 class = "req">Min: 55x55px, Max: 2MB</h4>
            </div>
        </div>

        <div class = "vertical-section">
            <div>
                <h2>Direktan upload</h2>

                <h3>{{ cors_location }}</h3>
            </div>
            <div class="uploaded_info_holder">
            </div>
        </div>

        <script type="text/javascript">
            $(document).on('change', '#avatar_file:file', function() {

                if (this.files[0]) {
                    size_in_megabytes = this.files[0].size/1024/1024;
                    if (size_in_megabytes > 2) {
                        alert('Najveća dopuštena veličina slike je 2 MB. Odaberite manju sliku!');
                    }
                }

                var input = $(this),
                        numFiles = input.get(0).files ? input.get(0).files.length : 1,
                        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');

                var spanInput = $('#selected-file > span'),
                    button = $(this).parents('.vertical-section').find('.button-label > span'),
                    log = numFiles > 1 ? ' Odabranih datoteka: ' + numFiles : label;
                if( spanInput.length ) {
                    if(log === "") {
                        spanInput.html(log);
                        button.text('Odaberite datoteku');
                    } else {
                        spanInput.html('<i class = "fa fa-fw fa-file-image-o"></i> ' + log);
                        button.text('Odabrano: ');
                    }
                } else {
                    if( log ) alert(log);
                }


            });

//            $(document).ready( function() {
//                $('#avatar_file:file').on('fileselect', function(event, numFiles, label) {
//                    alert("#");
//                    var input = $(this).parents('.vertical-section').find('#selected-file > span'),
//                            button = $(this).parents('.vertical-section').find('.button-label > span'),
//                            log = numFiles > 1 ? ' Odabranih datoteka: ' + numFiles : label;
//
//                    if( input.length ) {
//                        if(log === "") {
//                            input.html(log);
//                            button.text('Odaberite datoteku');
//                        } else {
//                            input.html('<i class = "fa fa-fw fa-file-image-o"></i> ' + log);
//                            button.text('Odabrano: ');
//                        }
//                    } else {
//                        if( log ) alert(log);
//                    }
//
//                });
//
//                $('.cloudinary-fileupload').fileupload({
//                    autoUpload: false
//                });
//            });
        </script>

        <script>
            function prettydump(obj) {
                ret = "";
                $.each(obj, function(key, value) {
                    ret += "<tr><td>" + key + "</td><td>" + value + "</td></tr>";
                });
                return ret;
            }

            $(function() {
                $('.cloudinary-fileupload')
                        .fileupload({
                            dropZone: '#direct_upload',
                            autoUpload: false,
                            start: function () {
                                expandInfoPanel("Start direct upload");
                            },
                            progress: function () {
                                expandInfoPanel("Uploading");
                            }

                        })
                        .on('cloudinarydone', function (e, data) {
                            expandInfoPanel("Idle", true);
                            var info = $('<div class="uploaded_info"/>');
                            $(info).append($('<div class="data"/>').append(prettydump(data.result)));
                            $(info).append($('<div class="image"/>').append(
                                    $.cloudinary.image(data.result.public_id, {
                                        format: data.result.format, width: 150, height: 150, crop: "fill"
                                    })
                            ));
                            $('.uploaded_info_holder').append(info);
                        })

                        .bind('submitdata', function(e, data) {
                            alert('zih');
                            data.submit();
                        });


            });
        </script>
    </form>


        {% include "templates/partials/user_messages.twig" %}

        {% include "templates/partials/live_status.container.twig" %}



        <script type="text/javascript" src="public/js/validation.js?{{ "now"|date("YmdHis") }}"></script>
        <script type="text/javascript">
            $('#avatar_file').bind('change', function() {
                if (this.files[0]) {
                    size_in_megabytes = this.files[0].size/1024/1024;
                    if (size_in_megabytes > 2) {
                        alert('Najveća dopuštena veličina slike je 2 MB. Odaberite manju sliku!');
                    }
                }
            });
        </script>

        <input type = "hidden" name = "{{ csrf_key }}" value = "{{ csrf_token }}">
        <div class = "submitter-cont">
            <div>
                <div class = "submitter submit" tabindex="5" title = "Spremi promjene"
                     onclick="testaUpload();">
                    <span>SPREMI</span>
                </div>

                <div class="submitter">
                    <a href = "{{ urlFor('user.profile') }}" tabindex="6">ODUSTANI</a>
                </div>


            </div>
        </div>

        <script>
            function testaUpload() {
                if(!haltFormSubmitting()) {
                    return false;
                }
                var myForm = document.forms["user-avatar-upload"];

                expandInfoPanel("Provjera ispravnosti formata slike");

                var re = /^\d{1,2}\-\d{1,2}\-\d{4}$/;
                setTimeout (function() {


//                    if (myForm["avatar_file"].value == "" ) {
//                        if (!errorStatus("Nije odabrana slika za upload", myForm["avatar_file"])) {
//                            return false;
//                        }
//                    }

                    if(myForm["avatar_file"].value != "")
                    {
                        if(myForm["avatar_file"].files[0]) {
                            if(myForm["avatar_file"].files[0].size > 2*1024*1024) {
                                if (!errorStatus("Najveća dopuštena veličina slike je 2 MB. " +
                                        "Odaberite manju sliku!", myForm["avatar_file"])) {
                                    return false;
                                }
                            }
                            var acceptFileTypes = /^image\/(gif|jpe?g|png)$/i;
                            if (myForm["avatar_file"].files[0].type.length) {
                                var fileType = myForm["avatar_file"].files[0].type;
                                if (!acceptFileTypes.test(fileType)) {
                                    if (!errorStatus("Neispravan tip slike! (" + fileType +
                                            ")\nDopušteno: {jpg, jpeg, png, gif ...}", myForm["avatar_file"])) {
                                        return false;
                                    }
                                }
                            }
                            var acceptExtensions = /(gif|jpe?g|png)$/i;
                            var extension = myForm["avatar_file"].files[0].name.substring(
                                    myForm["avatar_file"].files[0].name.lastIndexOf('.') + 1);
                            if (!acceptExtensions.test(extension)) {

                                if (!errorStatus("Neispravan format slike! (" + extension +
                                        ")\nDopušteno: {jpg, jpeg, png, gif ...}", myForm["avatar_file"])) {
                                    return false;
                                }
                            }

                        }

                    }
                    $('.cloudinary-fileupload').fileupload().trigger('submitdata')
//                    myForm.submit();

                }, 1000);
            }
        </script>


{% endblock %}

